<!-- <div class="menu-toggle" {{action "clicked"}}>=</div> -->
<div class="navbar">
  <div class="menu-toggle" {{action "clicked"}}>=</div>
  <ul class="navlinks" id="navlinks">
    {{#link-to 'index'}}<li>Home</li>{{/link-to}}
    {{#link-to 'cart'}}<li>Shopping Cart</li>{{/link-to}}
    {{#link-to 'admin'}}<li>Admin</li>{{/link-to}}
  </ul>
</div>
{{windowSize}}
