<li class="featured-item">
  {{#link-to 'product' product.id}}
    <div class="product-image">
      <img class="product-thumbnail" src="{{product.image}}">
    </div>
    <div class="product-info">
      <h1>{{product.name}}</h1>
      <p>${{product.price}}</p>
      <p>{{product.description}}</p>
    </div>
  {{/link-to}}
</li>
