/* Wireframing */

// .product-thumbnail {
//   width: 100px;
// }



/* End Wireframing */

/* Variables */

$med-margin: 15px;

$med-breakpoint: 620px;
$lg-breakpoint: 1120px;

/* Mixins */
@mixin clearfix {
  content: "";
  display: table;
  clear: both;
}

/* Base */

*:not(body):not(html) {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0px;
}

h1 {
  margin: 0;
}

a {
  color: #232322;
}
/* Navbar */

.navbar {
  ul {
    overflow: auto;
    width: 100%;
    margin: 0 auto;
    li {
      text-align: center;
      margin: 10px;
    }
    @media screen and (min-width: $med-breakpoint) {
      width: 80%;
      li {
        float: left;
        width: 33.33%;
        text-align: center;
        margin: 10px 0;
      }
    }
  }
}

/* Containers and layout */

.container {
  width: 90%;
  margin: 0 auto;
  @media screen and (min-width: $med-breakpoint) {
    width: 80%;
  }
}

/* Index page */

.hero {
  height: 400px;
  background-color: #d9d9d9;
  .masthead {
    padding-top: 120px;
    text-align: center;
    h1 {
      font-size: 5em;
      letter-spacing: 6px;
      text-transform: uppercase;
    }
    h2 {
      font-size: 1.2em;
      margin: 0;
    }
    h3 {
      font-size: .9em;
      margin: 0;
    }
  }
}

/* Product tiles */

.featured-gallery {
  &::after {
    @include clearfix;
  }
  @media screen and (min-width: $med-breakpoint) and (max-width: $lg-breakpoint) {
    div:nth-child(odd) {
      .product-image {
        float: right;
      }
      .product-info {
        float: left;
      }
    }
    div:nth-child(even) {
      .product-image {
        float: left;
      }
      .product-info {
        float: right;
      }
    }
  }
}

.featured-item {
  background-color: whitesmoke;
  width: 100%;
  margin: $med-margin 0;
  padding: 10px;
  text-align: center;
  &::after {
    @include clearfix;
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 1.3em;
  }
  .product-image {
    max-width: 550px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
  .product-info {
    float: none;
  }
  @media screen and (min-width: $med-breakpoint) and (max-width: $lg-breakpoint) {
    // width: 31.33%;
    .product-image {
      width: 70%;
      margin: auto 0;
    }
    .product-info {
      width: 30%;
      height: 200px;
      // border: 1px solid gray;
    }
    .product-info > * {
      width: 70%;
      margin: 40px auto 0 auto;
      // border: 1px solid red;
    }
  }
  @media screen and (min-width: $lg-breakpoint) {
    width: 31.33%;
    margin: 10px 1%;
    float: left;
    .product-image {
      max-width: 200px;
    }
  }
}

.sm-product-gallery {
  background-color: #554554;
  &::after {
    @include clearfix;
  }
}

.sm-product-item {
  width: 100%;
  margin: $med-margin auto;
  .sm-product-image {
    img {
      width: 100%;
    }
  }
  @media screen and (min-width: $med-breakpoint) {
    width: 31.33%;
    margin: 10px 1%;
    float: left;
    .product-image {
      max-width: 200px;
    }
  }
}

/* Admin page */

.admin-gallery {
  li {
    border: 1px solid lightgrey;
    margin: 20px 0;
    padding: 10px;
    text-align: center;
  }
}

.admin-item {
  img {
    width: 200px;
  }
}
