<div class="navbar">
  <ul>
    {{#link-to 'index'}}<li>Home</li>{{/link-to}}
    {{#link-to 'cart'}}<li>Shopping Cart</li>{{/link-to}}
    {{#link-to 'admin'}}<li>Admin</li>{{/link-to}}
  </ul>
</div>

{{outlet}}
