<div class="wrapper">
  <div class="hero">
    <div class="masthead">
      <h2>Welcome to</h2>
      <h1>Epic</h1>
      <h3>An e-commerce store</h3>
    </div>
  </div>
  <div class="container">
    <ul class="featured-gallery">
      {{#each model.featured as |product|}}
        {{product-tile product=product}}
      {{/each}}
    </ul>
    <ul class="sm-product-gallery">
      {{#each model.products as |product|}}
        {{small-product-tile product=product}}
      {{/each}}
    </ul>
  </div>
</div>
